<%- include('partials/_header') %>


    <div class="container">
        <div class="row mt-5">
            <div class="col-md-7">
            
             <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Telefono</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (data) { %>
                      <% for (var i = 0;  i < data.length; i++) { %>
                        <tr>
                            <td><%=  (i + 1) %></td>
                            <td><%=  data[i].name  %></td>
                            <td><%=  data[i].address %></td>
                            <td><%=  data[i].phone %></td>
                            <td>
                                <a href="/delete/<%= data[i].id %>" class="btn btn-danger">Eliminar</a>
                                <a href="/update/<%= data[i].id %>" class="btn btn-info">Editame</a>
                            </td>
                        </tr>
                        <% } %>
                       <% } %>

                </tbody>
             </table>       
  
                          
            </div>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/add" method="post"> 
                            <!-- Primer Input -->
                            <div class="form-group mb-2" >
                                <input type="text" name="name" placeholder="Ingresa tu nombre" class="form-control" autocomplete="off">
                            </div>
                            <!-- Input -->
                            <div class="form-group mb-2">
                                <input type="text" name="address" placeholder="Email" class="form-control" autocomplete="off">
                            </div>
                            <!-- Input -->
                            <div class="form-group mb-2">
                                <input type="number" name="phone" placeholder="Telefono" class="form-control" autocomplete="off">
                            </div>
            
                            <button type="submit" class="btn btn-primary">
                                Registrar Usuario
                            </button>
            
            
                              </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('partials/_footer') %>





